 
 * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 
body{
     background-color: #f6f8f9;
    max-width: 2000px;
     margin: 0 auto;

}
header{
 margin:0rem 10rem;
}
h1{
    display: inline-block;
    font-size: 3rem;
    vertical-align: middle;
}
img{
    vertical-align: middle;
    inline-block;
    
}
main{
    background-color: white;
    margin: 6rem 24rem;    

}
button{
   
    height: 2rem;
    width: 6rem;
    display: inline-block;
    border-radius: 0.3rem; 
}
#button-1{
     background-color: #47adf1;
     color: white;
     border: #47adf1;
    }
   #button-2{
             background-color:#ffffff;
             color: #939597;
             border: 2px solid#939597;             
   }
   ul{
      margin-top: 4rem;
      list-style-type: none;
   }
   li{
    margin: 2rem 0rem;
    color: #41454f;
    font-weight:bold;
}
   h2{
    font-size: 1.8rem;
    color: #41454e;
    margin: 0.8rem 0rem;
}
.tag-blue{
    background-color:#45abea ;
    border-radius: 2rem;
    padding: 0.3rem;
    color: white;
}
.tag-green-1{
    background-color:#64c0a9 ;
    border-radius: 2rem;
    padding: 0.3rem;
    color: white;

}
.tag-green-2{
    background-color:#b0c926 ;
    border-radius: 2rem;
    padding: 0.3rem;
    color: white;

}
.tag-purple{
    background-color:#9c72e4 ;
    border-radius: 2rem;
    padding: 0.3rem;
    color: white;
}
.tag-pink{
    background-color: #d863a1;
    border-radius: 2rem;
    padding: 0.3rem;
    color: white; 
}
.tag-orange{
    background-color:#f29e33;
    border-radius: 2rem;
    padding: 0.3rem;
    color: white; 
}
.check{
    border: solid #6ac3ae 2px;
    border-radius: 50%;
    color: #6ac3ae;
    
}
.cross{
    border: solid #ec716b 2px;
    border-radius: 50%;
    color:#ec716b;

}
